body{
    font-family:"Microsoft YaHei";
    color: #333;
    min-width: 900px;
}
header{
    background:#ddd;
    width: 100%;
    color: #404344;
    height:60px;
    box-shadow: 0 0 4px rgba(0,0,0,.5);
}
header h1{
    font-size: 24px;
    line-height: 60px;
    margin-left: 100px;
    font-weight:  bold;
}
main{
    display: table;
    width: 100%;
    min-width: 900px;
}
aside, article{
    position: absolute;
    top: 62px;
    bottom: 0;
    box-shadow: 0 0 1px rgba(0,0,0,.5);
    overflow-x: hidden;
}
.classify{
    width: 227px;
    background:#f2f2f2;
    padding-top: 25px; ;
}
#task{
    width:230px;
    left: 228px;
}
.detail, #writeTask{
    left:458px;
    right: 0;
}
.classify h4 {
    padding-left: 20px;
    margin-bottom: 10px;
}
.sumList{
    margin-bottom: 10px;
    width: 100%;
    cursor: pointer;      
}
.sumList .deleteTask{
    width: 12px;
    height: 12px;
    right: 22px;
    position: absolute;
    top: 12px;
    display: none;
}
.subTask li .deleteTask{
    top: 7px;
}
.taskName.taskName:hover .deleteTask, .subTask li:hover .deleteTask{
    display: inline-block;
}
.taskName{
    position: relative;
    line-height: 30px;
	padding-left:30px;
}
.taskName i{
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 10px;
    width: 18px;
    height: 12px;
    background: url("../img/folderIcon.png")no-repeat left center;
}
.subTask li{
    position: relative;
	line-height:24px;
	list-style:none;
	padding-left:40px;;
}
.subTask i{
    display: inline-block;
    width: 12px;
    height: 25px;
    background:url(../img/textIcon.png) no-repeat left center;
    position: absolute;
    left: 25px;
}

.subTask li:hover,.subTask .liActive{
    background: #fafaee;
}
.increaseBtn{
    background: #eee;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-left: -10px;
    padding-left: 20px;
    border-top: 1px solid #cdcdcd;
}
.increaseSym{
    font-size: 25px;
    font-weight: bolder;
    padding-right: 5px;
}
.taskTitle{
    background: #eee;
    border-bottom: 1px solid #cdcdcd;
}
.taskTitle span{
    margin: 4px;
    padding: 8px;
    display: inline-block;
}
.taskTitle span:hover, .taskTitleActive{
    background:#fff;
    cursor: pointer;
    border-radius: 5px;
}
#allTask .time, #taskFinished .time, #taskUndo .time {
    padding: 10px 15px;
    background:#fafaee ;
    line-height: 12px;
}
#allTask .content ,#taskFinished .content,#taskUndo .content {
    line-height: 20px;
    padding: 2px 0 0 40px;
    text-overflow: ellipsis;
    word-break: break-all;
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    height: 20px;
}
#taskFinished,#taskUndo{
    display: none;
}
.content span{
    padding-left: 40px;
}

#allTask .content:hover, #taskFinished .content:hover ,#taskUndo .content:hover{
    color: green;
    background:#f2f2f2;
}
.taskActive{
    color: green;
}
.detail, #writeTask{
    min-width: 600px;
}
#writeTask  .detailTitle span{
    font-size:12px;
    padding-left: 10px;
}
 .detailTitle{
     border-bottom: 1px solid #cdcdcd;
    background:#f2f2f2 ;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    padding-left: 30px;
    position: relative;
}
.detailTitle img{
    float: right;
    top: 10px;
    cursor: pointer;
    margin-right: 30px;
    margin-top:10px ;
}
.detail .time{
    height:60px;
    background:#fafaee;
    line-height: 60px;
    padding-left: 30px;
}
#writeTask{
    display: none;
}
#writeTask input, #writeTask textarea {
    background:#fcfcfc;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,.05)inset;
    color: #777;
    font-size: 16px;
    display: inline-block;
    line-height: 26px;
    padding: 0 10px;
    width: 280px;
}
#writeTask .areaTask{
    margin-top: 30px;
    margin-left: 20px;
    width: 80%;
}
.areaTask p{
    text-align: center;
    margin: 10px;
}
#writeTask .areaTask textarea{
    width: 100%;
    min-height: 300px;
    line-height: 30px;
    text-indent: 2em;

}
.taskDetail{
    border-top: 1px solid #cdcdcd;
    padding: 10px 30px;
    line-height: 20px;
}
.classActive{
    background: #FFFEFE;
}
 #writeTask #submitTask{
     display: block;
     cursor: pointer;
     font-weight: bold;
     margin: 30px 100px;
     border: none;
     background: #d1d1d1;
     width: 100px;
     height: 32px;
     line-height: 20px;
     border-radius: 7px;
}
#writeTask #submitTask:hover{
    background: #ACACAC;
}
#mask{
    position: absolute;
    width: 457px;
    top: 0;
    bottom: 0;
    left: 0;
    border: 1px solid red;
    z-index:33333 ;
    display: none;
}